<footer>
    
   <div class="footer-container">
   		<div class="footer-col1">
   			   <h3>Contact us</h3>
			   <ul id="contact-info">
			   		<li>Call us on 09164877044 for any help</li>
			   		<li>Mail-id : shalvisdavid@gmail.com</li>
			   </ul>
   		</div>
   		
   		<div class="footer-col2">
   			   <h3>Follow us</h3>
			   <ul id="social-net">
				   <li><a href="www.facebook.com">Facebook</a></li>
				   <li><a href="www.twitter.com">Twitter</a></li>
			   </ul>
   		</div>
   		
   		<div class="footer-col3">
   			<h3><span>Rent your stuffs</span></h3>
   			<span><a href="aboutus.html">About us</a></span>
   			<p>Rent your stuff description. Company is formed in the year 2016 and it is all about helping customer to get the book in cheaper price</p>
   		</div>
	<span class="footer-copyright"> &copy; Copyright 2016 rent your stuffs</span>	
   </div> 
    
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script th:inline="text">
        //<![CDATA[
        window.jQuery || document.write('<script src="[[@{/js/lib/jquery-1.9.1.js}]]"><\/script>');
        //]]>
    </script>
    
    <blc:bundle name="lib.js" 
                mapping-prefix="/js/"
                files="plugins.js,
                       libs/jquery.MetaData.js,
                       libs/jquery.rating.pack.js,
                       libs/jquery.dotdotdot-1.5.1.js" />
    
    <blc:bundle name="heatclinic.js" 
                mapping-prefix="/js/"
                files="BLC.js,
                       heatClinic.js,
                       cartOperations.js,
                       checkoutOperations.js,
                       globalOnReady.js,
                       manageAccountOperations.js,
                       reviewOperations.js" />


</footer>