<!DOCTYPE HTML>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<head>
    <title layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE">rent your stuffs</title>
    <th:block th:replace="/layout/partials/head"></th:block>
</head>

<body class="body_class">
    <div id="notification_bar"></div>
    <header th:substituteby="layout/partials/header" />
    
    <div id="content" class="width_setter group" role="main">
        
               
        <div id="banners">
        	<div class="banner_images">
        	<!-- <img src="../img/banners/history_banner.jpg" height="250" width="1029"/>
        	<img src="../img/banners/fiction_banner.jpg" height="250" width="1029"/> -->
        	<div th:include="layout/partials/homeBannerslide"> </div>
        	</div>
        	
        	<!-- <div id="search-home">
	            <blc:form th:action="@{/search}" method="GET" class="search-form">
	            <input type="search" class="search-home" name="q" th:value="${originalQuery}" />
	            <input type="submit" id="search_button" class="search_button-home" value="search" />
	            </blc:form>
        	</div> -->
        </div>
        
         
        
        <a th:href="@{/register}" th:if="${contentItem !=null and contentItem['htmlContent'] !=null}" style="text-decoration:none">
            <div id="home_feature" th:utext="${contentItem['htmlContent']}"></div>
        </a>
		<div class="home-topsell-container">
		      <blc:content contentType="Homepage Featured Products Title" />    
		        <div th:if="${contentItem !=null and contentItem['messageText'] !=null}" class="title_bar" th:utext="${contentItem['messageText']}"></div>
		        
		        <ul th:if="${products}" id="products" class="group">
		            <li th:each="product : ${products}" th:object="${product}" th:include="catalog/partials/productListItem" class="product_container"></li>
		        </ul>
		        
		        <ul th:if="${skus}" id="products" class="group">
		            <li th:each="sku : ${skus}" th:object="${sku}" th:include="catalog/partials/skuListItem" class="product_container"></li>
		        </ul>
       </div>
       <div class="shipping-returns-text">
       		<span>Free shipping</span>
       		<span>Easy Returns</span>
       		<span>How it works</span>
       </div>
       
    </div>
    
    
    <footer th:substituteby="layout/partials/footer" />
    
</body>
</html>
